{% extends "base.html" %}
{% block title %} Pet details and Edit Pet! {% endblock %}
{% block content %}



<div id="profilecontainer">
    <img class="img-thumbnail"  src="{{pet.image_url}}" alt="pet image here">
    <h4 class=text-success font-italic> Profile for {{pet.name}}</h4>
    <p id="stattag">Stats for {{pet.name}}!</p>
    <p class="text-secondary font-italic">Age in years: {{pet.age}}</p>
    <p class="text-secondary font-italic">Species: {{pet.species}}</p>
    <p class="text-secondary font-italic">Notes: {{pet.notes}}</p>
    {% if pet.available %}
    <p class="text-success font-italic ">{{pet.name}} {{pet.format_available()}}</p>
    {% else %}
    <p class="text-danger font-italic ">{{pet.name}} {{pet.format_available()}}</p>
    {% endif %}
    <a class="btn btn-sm btn-warning" href="/pets">Go back</a>
</div>

<div id="peteditformcontainer" class="container">
    <h3>Edit {{pet.name}}</h3>
    <div id="petformrow" class="row justify-content-left">
        <div id="petformcol" class="col-md-5">
            <form id="pet-add-form" method="POST">

            {{pet_form.hidden_tag()}}

            {% for field in pet_form
            if field.widget.input_type != 'hidden'%}

                <div class="form-group">  
            {{field.label(class_="text-info font-weight-bold")}}
            {{field(class_="form-control")}}

            {% for error in field.errors %}
                    <small class="form-text text-danger">{{error}}</small>
            
            {% endfor %}
                </div>
            {% endfor %}
        
                <button id="petsubmitbtn" class="btn btn-primary" type="submit">Submit</button>
            </form>
            
    </div>
</div>


<ul id="messagecontainer"></ul>

<p>Thanks for browsing!</p>
    
{%endblock%}